[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/mkheck/mh-aasc-api-gateway.git
[submodule "admin-service"]
	path = admin-service
	url = https://github.com/mkheck/mh-aasc-admin-service.git
[submodule "airport-service"]
	path = airport-service
	url = https://github.com/mkheck/mh-aasc-airport-service.git
[submodule "weather-service"]
	path = weather-service
	url = https://github.com/mkheck/mh-aasc-weather-service.git
